<div class="form-wrapper">
  <h2>Edytuj informacje o filmie</h2>
  <br />

  <form #addF="ngForm" (ngSubmit)="handleSubmit(addF.value)">
    <div class="form-inputs">
      <label>Aktualny tytuł: {{ movie.title }}</label>
      <input
        type="text"
        name="title"
        placeholder="Podaj tytuł"
        minlength="5"
        ngModel
        #title="ngModel"
        required
      />
    </div>

    <div class="form-inputs">
      <label>Link do plakatu:</label>
      <input
        type="url"
        name="imageURL"
        placeholder="Podaj link do plakatu"
        pattern="https://.*"
        ngModel
        #imageURL="ngModel"
        required
      />
    </div>
    <div class="inline-images">
      <img
        src="{{ movie.imageURL }}"
        width="200px"
        height="250px"
        class="inline-image"
        alt="Podgląd plakatu"
        title="Stary plakat"
      />
      <img
        src="{{ imageURL.value }}"
        width="200px"
        height="250px"
        class="inline-image"
        alt="Podgląd nowego plakatu"
        title="Nowy plakat"
      />
    </div>

    <div class="form-inputs">
      <label>Aktualna długość(min): {{ movie.length }}</label>
      <input
        type="number"
        name="length"
        placeholder="Podaj długość filmu"
        min="30"
        max="300"
        ngModel
        #length="ngModel"
        required
      />
    </div>
  </form>
  <button class="AddBtn" (click)="handleSubmit(addF.value)">Edytuj</button>
</div>
