.main-footer {
  color: white;
  background-color: rgb(184, 60, 60);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: left;
  overflow: hidden;
}
