<div class="form-wrapper">
  <h2>Edytuj informacje o seansie</h2>
  <br />

  <form #editSF="ngForm" (ngSubmit)="handleSubmit(editSF.value)">
    <div class="form-inputs">
      <label>Aktualny film: {{ showing.movieTitle }}</label>
      <mat-form-field appearance="outline">
        <mat-select
          name="movieId"
          ngModel
          #movieId="ngModel"
          placeholder="Wybierz nowy film"
        >
          <mat-option *ngFor="let movie of movies" [value]="movie.id">
            {{ movie.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-inputs">
      <label>Aktualna sala: Sala {{ showing.roomId }}</label>
      <mat-form-field appearance="outline">
        <mat-select
          name="roomId"
          ngModel
          #roomId="ngModel"
          placeholder="Wybierz nową salę"
        >
          <mat-option *ngFor="let room of rooms" [value]="room.id">
            Sala {{ room.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-inputs">
      <label>Aktualna data seansu: {{ showing.date }}</label>
      <input
        type="datetime-local"
        name="date"
        min="{{ minDate }}"
        ngModel
        #date="ngModel"
      />
    </div>
  </form>
  <button class="AddBtn" (click)="handleSubmit(editSF.value)">Edytuj</button>
</div>
