<div class="form-wrapper">
  <h2>Wpisz informacje o seansie</h2>
  <br/>

  <form #addSF="ngForm" (ngSubmit)="handleSubmit(addSF.value)">

    <div class="form-inputs">
      <label>Film:</label>
      <mat-form-field appearance="outline">
        <mat-select name="movieId" ngModel #movieId="ngModel" placeholder="Wybierz film" required>
          <mat-option *ngFor="let movie of movies" [value]="movie.id">
            {{movie.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="movieId.invalid && movieId.touched" class="error-msg">
        <div *ngIf="movieId.errors?.['required']">Musisz wybrać film z listy!</div>
      </div>
    </div>

    <div class="form-inputs">
      <label>Sala:</label>
      <mat-form-field appearance="outline">
        <mat-select name="roomId" ngModel #roomId="ngModel" placeholder="Wybierz salę" required>
          <mat-option *ngFor="let room of rooms" [value]="room.id">
            Sala {{room.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="roomId.invalid && roomId.touched" class="error-msg">
        <div *ngIf="roomId.errors?.['required']">Musisz wybrać salę z listy!</div>
      </div>
    </div>

    <div class="form-inputs">
      <label>Data seansu:</label>
          <input type="datetime-local" name="date" min="{{minDate}}" ngModel #date="ngModel" required>
      <div *ngIf="date.invalid && date.touched" class="error-msg">
        <div *ngIf="date.errors?.['required']">Musisz wybrać datę seansu!</div>
      </div>
    </div>

  </form>
  <button [disabled]="!addSF.valid" class="AddBtn" (click)="handleSubmit(addSF.value)">Dodaj</button>
</div>
