<div class="card-container">
  <div class="movie-grid">
    <div *ngFor="let showing of showings">
      <p>{{showing.Id}}--</p>
      <showing-details [id]="showing.Id" [date]="showing.Date" [roomId]="showing.RoomId" [movieTitle]="showing.MovieTitle" [availableSeats]="showing.AvailableSeats">
      </showing-details>
    </div>
    <!-- <div *ngFor="let showing of showings">
      <showing-details [id]="showing.Id" [date]="showing.Date" [roomId]="showing.RoomId" [movieTitle]="showing.MovieTitle" [availableSeats]="showing.AvailableSeats">
      </showing-details>
    </div> -->
  </div>
</div>
