body {
  height: 100%;

  margin: 0;
  font-family: 'Lucida Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

@media (min-width: 992px) {
  .movie-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.heading {
  margin-bottom: 30px;
  text-align: center;
}

.card-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .card-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .card-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .card-container {
    width: 1170px;
  }
}

.AddBtn {
  color:white;
  background-color: rgb(185, 76, 76);
  text-align: center;
  font-size: 1rem;
  border-radius: 4px;
  height: 30px;
  border:none;
  cursor: pointer;
}

.AddBtn:hover {
  background-color: rgb(197, 124, 124);
  transition: all 0.2s ease-out;
}

.error-msg{
  color:red;
  font-size:small;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
